/*=========================== TAGS ============================*/

* { 
	margin:0; 
	padding:0;
}

html {
	min-width:982px;
} 

body { 
	background:#fff; 
	font-family:"trebuchet MS", Helvetica, sans-serif; 
	font-size:100%; 
	line-height:1em; 
	color:#222222; 
	min-width:982px;
}

object { 
	vertical-align:top; 
	outline:none;
}

input, 
textarea, 
select { 
	font-family:"trebuchet MS", Helvetica, sans-serif; 
	font-size:1em; 
	vertical-align:middle; 
	font-weight:normal;
}

fieldset {
	border:0;
}

p { 
	margin:0; 
	padding:0;
}

img { 
	border:0; 
	vertical-align:top; 
	text-align:left;
}

ul, 
ol { 
	list-style:none;
}

/*========================== ALIGMENT =========================*/

.fleft { 
	float:left;
}

.fright { 
	float:right;
}

.clear { 
	clear:both;
}

.alignright { 
	text-align:right;
}

.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%; 
	overflow:hidden;
}

.extra-wrap {
	overflow:hidden;
}

.container { 
	width:100%;
}

/*=========================== FORMS ===========================*/

#search-form span,
#search-form label,
#search-form a {
	float:left;
}
#search-form label,
#search-form label a {
	color:#8d8d8d;
}
#search-form label {
	padding:7px 11px 0 0;
}
#search-form label a {
	text-decoration:none;
	float:none;
}
#search-form label a:hover {
	text-decoration:underline;
}
#search-form span {
	width:202px;
	height:31px;
}
#search-form input {
	background:none;
	border:0;
	vertical-align:top;
	line-height:1.2em;
	margin:6px 0 0 14px;
	width:178px;
}



/*========================== LISTS ============================*/
.list {
	clear: both;
}
.list h2 {
	font-size: 16px;
	font-weight: 600em;
	padding: 20px 0px 5px 10px;
}
.list .title{
	width:100%;
	padding: 8px 0px 0px 20px;
	height:25px;
	text-align:left;
	background: #eeeeee;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}
.list .title span {
	text-align:left;
	float: left;
	color:#333333; 
	font-size:16px;
	padding: 0;
}
.list span.name {
	width: 250px;
}
.list span.team {
	width: 120px;
}
.list span.user {
	width: 80px;
}
.list span.time {
	width: 140px;
}
.list span.reply {
	text-align: center;
	width: 80px;
}
.list span.description {
	width: 450px;
}
.list li {
	clear: left;
	font-size:14px;
	padding:8px 0px 0px 20px;
}
.list li.last {
	padding-bottom:37px;
}
.list li a{
	color: #113311;
	text-decoration:none;
}
.list li a:hover {
	color:#000;
}
.list li span {
       float: left;      
       text-align: left;
}
.list .menu {
	clear: both;
	padding: 20px 0px 20px 10px;
}
/*========================== TOPIC ===========================*/
.topic  {
	width: 96%;
	margin: auto;
	clear: both;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
}
.topic .title {
	padding: 10px 10px 10px 10px;
	background-color: #eeeeee;
}
.topic .body {
	padding: 20px;
}
.topic .reply {
	padding: 0px 0px 20px 20px;
}
.roles {
	width: auto;
}
.roles li.colum {
	display: inline-block;
	width: 250px;
	min-height: 600px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.roles li.colum#last {
	border-right: none;
}

.roles li h2 {
	font-size: 15px;
	padding: 8px 0px 0px 10px;
	height:25px;
	text-align:center;
	background: #eeeeee;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}
.roles .follows li {
	padding: 8px 5px 0px 10px;
}

/*------------ FORMS ------------*/

.topic_form {
	margin: auto;
	margin-top: 10px;
	border: 1px solid #dddddd;
	width: 96%;
}
.topic_form .title {
	padding: 5px 0px 5px 10px;
	vertical-align: middle;
	background-color: #eeeeee;
	border-bottom: 1px solid #dddddd;
}
.topic_form .body {
	padding: 10px;
}
.topic_form .title input {
	width: 70%;
	height: 25px;
	border: 1px solid #999999;
}
.topic_form .menu {
	padding: 10px;
}
.topic_form textarea { 
	width:96%; 
	height:200px; 
	overflow:auto;
	background:none;
	color:#8f8f8f; 
	padding:10px; 
	border: 1px solid #999999;
}
.follow_form {
	margin: auto;
	margin-top: 20px;
	border: 1px solid #dddddd;
	width: 96%;
}
.follow_form .title {
	padding: 10px;
	background-color: #eeeeee;
	border-bottom: 1px solid #dddddd;
}
.follow_form .body {
	padding: 10px;
}
.follow_form .body input {
	width: 100%;
}
.follow_form .menu {
	padding: 10px;
}


/*========================== OTHER ============================*/

.img-indent {
	margin-bottom:20px;
}

.img-box1 { 
	width:100%; 
	overflow:hidden;
}
.img-box1 img { 
	float:left; 
	margin:0 20px 0 0;
}

p { 
	line-height:1.38em;
	margin-bottom:20px;
}
.p1 {
	margin-bottom:35px;
}
.p2 {
	margin-bottom:25px;
}

.address span { 
	float:right; 
	margin-right:160px;
}

.slogan {
	float:left;
	width:285px;
	padding-top:35px;
}
.slogan p {
	padding:15px 0 26px 0;
	margin:0;
}

.phone {
	width:100%;
	overflow:hidden;
}
.phone span {
	font-size:23px;
	line-height:1.2em;
	color:#565656;
	float:left;
	padding:5px 29px 0 0;
}

dl {
	line-height:1.38em;
}
dl dt {
	font-weight:bold;
	color:#000;
}
dl dd {
	padding-bottom:21px;
}

/*================= TXT, LINKS, LINES, TITLES =================*/

a {	
	color:#73c30f; 
	outline:none;
}
a:hover {
	text-decoration:none;
}

h1 {
	float:none;
	color:#222222;
	font-size:16px;
	padding:10px 0px 10px 10px;
	margin: 0;
}
h1 a {
	text-decoration:none;
	color:#6f6f6f;
}
h1 strong {
	color:#118811;
	font-size:30px;
}
	
h2 {
	font-size:48px;
	line-height:1.5em;
	color:#2a2a2a;
}
h2 span {
	display:block;
	margin-bottom:-32px;
}
h2 em {	
	color:#cccccc;
	font-style:normal;
}
h2 strong {
	font-size:22px;
	line-height:1.2em;
	display:block;
	font-weight:normal;
	color:#81bb00;
	padding-left:14px;
}
h3 {
	font-size:30px;
	line-height:1.2em;
	color:#565656;
	margin-bottom:22px;
}
h4 {
	font-size:1.69em;
	line-height:1.1em;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#565656;
	font-weight:normal;
	margin-bottom:20px;
}
h5 {
	font-size:1em;
	line-height:1.38em;
}
h5,
h5 a {
	color:#222226;
}
h5 a {
	text-decoration:none;
}
h5 a:hover {
	text-decoration:underline;
}

.txt1 {
	color:#000;
	font-weight:bold;
}

.link1 { 
	display:block; 
	float:left; 
	color:#fff; 
	text-decoration:none; 
	line-height:1.2em;
	text-transform:uppercase;
	font-size:.92em;
}
.link1 em { 
	display:block; 
}
.link1 b { 
	display:block; 
	padding:12px 36px 13px 21px; 
	font-style:normal; 
}
.link1:hover {
	color:#9f9f9f;  
}
.link1:hover em { 
}
.link1:hover b { 
}

.link2 { 
	display:block; 
	float:left; 
	color:#9f9f9f; 
	text-decoration:none; 
	line-height:1.2em;
	text-transform:uppercase;
	font-size:.92em;
	margin-right:18px;
}
.link2 em { 
	display:block; 
}
.link2 b { 
	display:block; 
	padding:12px 36px 13px 21px; 
	font-style:normal; 
}
.link2:hover { 
	color:#fff; 
}
.link2:hover em { 
}
.link2:hover b { 
}

.link3,
.link3 a {
	color:#000;
	font-weight:bold;
} 

.line-hor { 
	border-bottom:1px solid #efefef; 
	margin:30px 0 18px 0; 
	overflow:hidden; 
	font-size:0; 
	line-height:0;
}

/*============================ BOXES ==========================*/

.box { 
	background:#fdfdfd; 
	width:982px;
}
.box .border-left { 
}
.box .border-right { 
}
.box .left-top-corner {	
}
.box .right-top-corner { 
}
.box .border-bot { 
	height:66px;
}
.box .left-bot-corner {	
	height:66px;
}
.box .right-bot-corner { 
	height:66px;
	padding-left:463px;
}
.box .inner { 
	padding:0 0 0 10px;
}

/*=============================================================*/

/*--- faded ---*/
#faded { 
	width:659px;
	float:left;
}
/*
 * Required: If fixed height, state it here
*/
#faded .rap { 
	height:426px;
}
#faded .prev {
	margin:0 11px 0 13px;
}
#faded .prev,
#faded .next {
	position:relative;
	bottom:50px;
	z-index:100;
}

/*--- carousel ---*/
.carousel-box {
	width:982px;
	overflow:hidden;
	position:relative;
	margin-bottom:-20px;
}
.carousel-box.alt {
	margin-top:25px;
}
.carousel-box .prev1,
.carousel-box .next1 {
	float:left;
	margin:22px 11px 0 0;
}
.carousel-box .carousel {
	width:962px !important;
	overflow:hidden;
}
.carousel-box ul {
	width:100%;
	overflow:hidden;
}
.carousel-box ul li {
	width:242px;
	float:left;
	border:0;
	position:relative;
}
.carousel-box ul li div.inside {
	padding:26px 24px 28px 20px;
}
.carousel-box ul li dl {
	padding-bottom:25px;
	position:relative;
}
.carousel-box ul li dl dd {
	padding:0 0 4px 16px;
}
.carousel-box ul li dl dd a:hover {
	color:#000;
}
